body {
  background-color: beige;
  font-size: 18;
}
h1 {
  color: darkblue;
  text-align: center;
}
p {
  font-family:"Times New Roman", Times,serif;
  font-size: 18;
}
form {
  font-family:arial;
  font-size: 18;
}
select {
  font-family:arial;
}
option {
  font-family:arial;
}
a {
  font-size: 25;
}
button.right {
  font-size: 18;
  position: absolute;
  top: 10px;
  right: 18px;

}
button{
  font-size: 18;
}
input{
  font-size: 18;
}
